@import url(vendor/fonts.css);
* {
  /* outline: 1px solid red; */
}
.body {
  background: #000000;
  height: 100%;
  color: #FFFFFF;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.page {
  max-width: 1280px;
	min-width: 320px;
	margin: 0 auto;
}
.header {
  margin: 45px auto 0;
  max-width: 880px;
  min-height: 74px;
  border-bottom: 1px solid #545454b3;
  
}
.header__logo {
  cursor: pointer;
}
.profile {
  box-sizing: border-box;
  margin: 40px auto 0;
  max-width: 880px;
  display: grid;
  grid-template-rows:  1fr;
  grid-template-columns: auto 336px 1fr auto;
  grid-template-areas: 'profile__avatar profile__info . profile__add-btn';
  grid-auto-rows: 1fr;
}
.profile__avatar {
  grid-area: profile__avatar;
  margin-right: 30px;
  
}
.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  
}
.profile__info {
  grid-area: profile__info;
  
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.profile__name {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  height: 39px;
  margin: 22px 0 16px;
  width: 294px;
}
.profile__bio {
  font-family: 'Inter';
  font-style: normal;
  font-size: 18px;
  height: 18px;
  line-height: 22px;
  margin: 0 0 25px;
  width: 336px;
  display: block;
}

.profile__edit-btn {
  width: 24px;
  height: 24px;
  background-color: #000000;
  background-image: url(images/edit-btn.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #FFFFFF;
  margin: 37px 0 0 18px;
  cursor: pointer;
  transition: 0.3s;
}
.profile__edit-btn:hover {
  opacity: 0.6;
  transition: 0.3s;
}
.profile__add-btn {
  width: 150px;
  height: 50px;
  background-color: #000000;
  background-image: url(images/add-btn.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #FFFFFF;
  grid-area: profile__add-btn;
  margin: auto 0;
  cursor: pointer;
  transition: 0.3s;
}
.profile__add-btn:hover {
  opacity: 0.6;
  transition: 0.3s;
}

.cards {
  margin: 51px auto 0;
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  column-gap: 17px;
  row-gap: 20px;
}
.card {
  
  height: 361px;
  border-radius: 10px;
  overflow: hidden;
}
.card__image {
  display: block;
  height: 282px;
  width: 100%;
}
.card__info {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding: 25px 21px 31px;
}
.card__name {
  font-family: 'Inter';
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: calc(100% - 22px);
}




.card__btn-like{
  background-image: url(images/btn-like.svg);
  width: 22px;
  height: 19px;
  
  cursor: pointer;
  border: 0px;
  background-color: #FFFFFF;
}
.card__btn-like:hover {
  background-color: #000000;
  
}
.footer {
  margin: 45px auto 0;
  max-width: 880px;
}
.copirate {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  width: 318px;
  margin: 67px 0 60px;
}
@media screen and (max-width: 1023px) {
  .header {
    max-width: calc(100% - 60px);
  }
  .profile {
    max-width: calc(100% - 60px);
  }
  .cards {
    max-width: calc(100% - 60px);
  }
  .footer {
    max-width: calc(100% - 60px);
  }
}
@media screen and (max-width: 767px){
  .profile {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 'profile__avatar profile__info profile__add-btn';
    max-width: calc(100% - 30px);
  
}
.profile__avatar {
  grid-area: profile__avatar;
  margin-right: 10px;
}
.profile__name {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 40px;
  line-height: 27px;
  max-height: 39px;
  margin: 0 0 8px;
  width: 100%;
}
.profile__bio {
  font-family: 'Inter';
  font-style: normal;
  font-size: 14px;
  height: 18px;
  line-height: 22px;
  margin: 0 0 25px;
  width: 100%;
}
.profile__edit-btn {
  margin-top: 15px;
}
.header {
  max-width: calc(100% - 30px);
}
.cards {
  max-width: calc(100% - 30px);
}
.footer {
  max-width: calc(100% - 30px);
}
.profile__add-btn {
  width: 100px;
  height: 40px;
}
}