.profile__avatar {
  margin-right: 30px;
  height: 120px;
  width: 120px;
}
@media screen and (max-width: 1023px){
  .profile__avatar {
    margin-right: 10px;
  }
}
@media screen and (max-width: 767px) {
  .profile__avatar {
    text-align: center;
    margin: 0;
  }
}
