.profile__info {
  width: 336px;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .profile__info {
    width: 282px;
    margin: 22.5px auto 0;
  }
}