.profile__bio {
  font-family: 'Inter';
  font-size: 18px;
  line-height: 22px;
  width: 336px;
  height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 16px 0 0;
}
@media screen and (max-width: 767px) {
  .profile__bio {
    height: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 282px;
    margin: 14px auto 0;
    text-align: center;
  }
}